@import "tailwindcss";

@theme {
  --color-background: #0a0a0a;
  --color-surface: #111111;
  --color-primary: #00A336;
  --color-secondary: #00BF3F;
  --color-accent: #27272a;

  --font-sans: "Inter", "Geist", "system-ui", sans-serif;
}

@layer base {
  body {
    @apply bg-background text-white font-sans antialiased;
  }
}

::-webkit-scrollbar {
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #00A336;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00BF3F;
}